# R files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# Python files
*.env

# Data pulled under licence
/intermediate-results/

# Input data files are too large for Github, will be documented separately
/input-data/
